{
  "extends": [
    "@antfu/eslint-config",
    "@vue/eslint-config-prettier"
  ],
  "rules": {
    "quotes": [
      "error",
      "double"
    ],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "no-console": "warn"
  }
}